.about{
    
    .content{
        background-color: rgba(235, 235, 235, 0.986);
    }
    .about-title{
        width:80%;
        margin:auto;
        border-bottom: 4px rgb(255, 255, 255) solid;
        margin-bottom: 20px;
        
        padding-top: 20px;
         h2{
        color:white;
        font-size: 5em;
        text-shadow: 7px 7px 2px rgb(23, 106, 109);
       
    }
    }
    p{
        width:90%;
        color:rgb(54, 54, 54);
        // background-color:rgba(236, 236, 236, 0.911) ;
        font-size: 1.1em;
        padding: 5%;
        line-height: 1.7em;
        span{
            font-size: 1.6em;
            padding-right: 2px;
        }
    }
}